@model LetStartSomethingNew.Models.GeneralMaster.RoomType
@{
    ViewBag.Title = "ViewRoomType";
    
}
<h2>ViewRoomType</h2>

@{
    WebGrid grid = new WebGrid(null, rowsPerPage: @Model.PageSize);
    grid.Bind(Model.listRoomType, autoSortAndPage: true, rowCount: @Model.PageSize);
}

@grid.GetHtml(tableStyle: "table table-bordered",
 mode: WebGridPagerModes.All,
 firstText: "<< First",
 previousText: "< Prev",
 nextText: "Next >",
 lastText: "Last >>",
    columns: grid.Columns(
    grid.Column("RoomTypeName", "RoomType"),
    grid.Column(header: "Edit",
                format: @<a data-value="@item.Pid" value="Edit" class="btnRoom" href="javascript:void(0)">Edit</a>
                ),
    grid.Column(header: "Delete",
                format: @<a data-value="@item.Pid" value="Delete" class="btnRoom" href="javascript:void(0)">Delete</a>
                )
))

<div id="dialog" title="view action" style="overflow: hidden;"></div>
<script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js">

</script>
<script type="text/javascript">
	    $(function () {
            var id = 0;
            var value = "";
           // var model = '@Model.listRoomType';
           // alert(model);
            $(document).on('click', '.btnRoom', function () {
                id = $(this).attr("data-value");
                value = $(this).attr("value");
	            $('#dialog').dialog('open');
             //  alert(id);
            });



	        $('#dialog').dialog({
	            autoOpen: false,
	            width: 400,
	            resizable: false,
	            title: 'Edit details',
	            modal: true,
	            open: function (event, ui) {
                    // Load partial view _GridEditPartial
                    $(this).load("@Url.Action("RoomTypeById")", { id: id, value: value });
	            },
	            buttons: {
	                "Close": function () {
	                    $(this).dialog("close");
	                }
	            }
	        });
	    });
</script>



